<h2 class="blank1"></h2>
<h3>STEP1 診断したい友達とのトーク画面を開き、上のメニューをタップ</h3>
<h2 class="blank1"></h2>
<p>例としてLineFortuneをトーク相手に説明しています。</p>
<p>メニューボタンは下の写真の丸印のところです。</p>
<h2 class="blank1"></h2>
 <img src="/static/images/ex1.jpg" alt="トーク画面">
 <h2 class="blank1"></h2>
<h3>STEP2 メニューの中のその他をタップ</h3>
<h2 class="blank1"></h2>
 <img src="/static/images/ex2.jpg" alt="メニューその他">
 <h2 class="blank1"></h2>
<h3>STEP3 トーク履歴を送信をタップ</h3>
<h2 class="blank1"></h2>
 <img src="/static/images/ex3.jpg" alt="トーク送信">
 <h2 class="blank1"></h2>
<h3>STEP4 ファイルを自分のデバイスに保存する</h3>
<h2 class="blank1"></h2>
<p>mail送信を選んで自分宛てに送り、ファイルをデバイス上に保存することをお勧めします。</p>
<h2 class="blank1"></h2>
 <img src="/static/images/ex4.jpg" alt="メールで共有">
 <h2 class="blank1"></h2>
<h2>２．テキストファイルを選ぶ</h2>
<h2 class="blank1"></h2>
<p>1で用意したファイルを下のフォームから選んで診断ボタンを押してください。</p>
<h2 class="blank1"></h2>
<h2 class="blank3"></h2>
