{% extends "base.html" %}
{% block body %}  
<h2>１．ラインからテキストファイルをとる</h2>
<p>　この診断ではラインのトーク履歴のテキストファイルをもとにあなたとあなたのパートナーの相性を診断します。</p>
<p>診断したいトークテキストファイルを準備して下のフォームから選んでね。</p>
{% include "ex.html" %}
<div id="lo"><img src="/static/images/tmp.gif"></div>
<script type="text/javascript">
    function btnClick(obj){
      var img = document.getElementById('lo');  
      img.style.display = "block";
    }
</script>
<div>
<form method="post" action="/send2" enctype="multipart/form-data">
  <input type="file" id="txt_file" name="txt_file" class="submit">
  <h2 class="blank1"></h2>
  <input type="submit" value="診断" class="btn" onclick="btnClick(this)" />
</form>
</div>
<h2 class="blank1"></h2>
 <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<h2 class="blank1"></h2> 
 {% endblock %} 